<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>简单工厂模式、策略模式</string>
		<key>class</key>
		<string>FactoryViewController</string>
		<key>type</key>
		<string>vc</string>
	</dict>
	<dict>
		<key>title</key>
		<string>装饰模式</string>
		<key>class</key>
		<string></string>
		<key>type</key>
		<string>desc</string>
	</dict>
	<dict>
		<key>title</key>
		<string>函数式编程</string>
		<key>class</key>
		<string>F</string>
		<key>type</key>
		<string>todo</string>
	</dict>
</array>
</plist>
